body {
  width: 90%;
  margin: 1rem auto;
  max-width: 1024px;
  min-height: 100vh;  

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

main {
  width: 100%;
  position: absolute;
  top: 30%;
}

@media (min-width: 768px) {
  body {
    margin-top: 2rem;
  }
}
