.reminder-list {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;

  margin-bottom: 5rem;
}

.reminder {
  width: 100%;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;

  font-size: 1rem;
  border-radius: 6px;
}

.reminder .reminder-at {
  display: none;
  color: #71717A;
  font-family: 'JetBrains Mono', monospace;
}

.hidden-reminder {
  position: relative;
  overflow: hidden;
}

.hidden-reminder::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  transition: opacity 0.3s ease;
  pointer-events: none;
  opacity: 1;
}

.hidden-reminder:hover::after {
  opacity: 0;
}

@media (min-width: 768px) {
  .reminder .reminder-of {
    flex:1;
  }

  .reminder .reminder-at {
    /* width: 180px; */
    display: block;
  }
}

@media (min-width: 1024px) {
  .reminder {
    width: 75%;
    font-size: 1.15rem;
  }
}

.dark-theme .hidden-reminder::after {
  background: rgba(24, 24, 27, 0.2);
}