.inputs-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
  gap: 1rem;

  padding-top: 1rem;
}

.inputs-form span {
  font-size: 1.05rem;
  font-weight: 500;
  white-space: nowrap;
  align-self: self-start;
}

button {
  margin: 1.5rem 0;
  width: 100%;
}

@media (min-width: 768px)  {
  form {
    width: 75%;
    margin: 0 auto;
  }
  
  form button {
    width: 50%;
    align-self: center;
    justify-self: center;
  }
}

@media (min-width: 1024px)  {
  .inputs-form {
    flex-direction: row;
  }

  .inputs-form span {
    align-self: center;
  }

  form button {
    width: 35%;
  }
}