.input-group {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.25rem;

  border-bottom: solid 1px #f4f4f5;
}

.input-group-onfocus {
  border-bottom: solid 1px #d4d4d8;
}

.input-group label {
  font-size: 0.85rem;
}

.input-group input {
  padding: 0.75rem;
  flex: 1;

  border: none;
  outline: none;

  font-size: 1.15rem;

  background-color: transparent;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .input-group {
    border-bottom: solid 1px #27272a;
  }

  .input-group-onfocus {
    border-bottom: solid 1px #71717a;
  }
}