:root {
  font-family: 'Raleway', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 1.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
  padding: 0.6em 1.2em;

  border-radius: 8px;
  border: 2px solid transparent;

  font-size: 1.05rem;
  font-weight: 400;
  font-family: 'Raleway';
  background-color: #f4f4f5;

  transition: border-color 0.25s;
}

button:hover {
  border-color: #e4e4e7;
}

button:focus,
button:focus-visible {
  outline: 2px solid #e4e4e7 -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #18181b;
  }

  a:hover {
    color: #535bf2;
  }

  button {
    background-color: #27272a;
  }

  button:hover {
    border-color: #3f3f46;
  }
  
  button:focus,
  button:focus-visible {
    outline: 2px solid #3f3f46 -webkit-focus-ring-color;
  }
}
